* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #001533;
}

.main {
    width: 40%;
    margin: 200px auto;
    background: #f1f1f1;
    border: 1px #bbb solid;
    border-radius: 20px;
    padding: 50px;
}

.title {
    text-align: center;
}

.btn {
    margin-top: 20px;
    padding: 5px 20px;
    border-radius: 10px;
    display: block;
    border: 2px solid #0cd977;
    background: #0cd977;
    color: #fff !important;
    text-decoration: none;
}

h1 {
    color: #001533;
    text-transform: lowercase;
    font-size: 60px;
    margin-bottom: 20px;
}

h1 span {
    color: #0cd977;
}

.control {
    width: 50%;
    margin: 20px auto;
    text-align: center;
}

.output {
    width: 60%;
    margin: 10px auto;
    display: flex;
}

.output .player-result,
.output .com-result {
    text-align: center;
    flex-basis: 50%;
}

#player-num,
#com-num {
    display: block;
    font-size: 90px;
    font-weight: 900;
    color:#0cd977;
}

#result {
    font-weight: 900;
    font-size: 25px;
}

#message {
    padding-top: 20px;
}

.result {
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    background: #ff6f6f;
    color: #fff;
    text-align: center;
}